@model IEnumerable<ProjectManagement.Models.Employee>;
@{
    ViewData["Title"] = "Manage Employee";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/images/icon/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/metisMenu.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/css/typography.css">
    <link rel="stylesheet" href="~/css/default-css.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Styles -->
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

</head>

<body>
    @if (!string.IsNullOrEmpty(TempData["success"] as string))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin: 0">
            @TempData["success"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.success))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin: 0">
            @ViewBag.success
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.error))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin: 0">
            @ViewBag.error
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container" style="padding-left: 0;">
        <!-- main content area start -->
        <div class="main-content">
            @*<div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <!--Notification-->
                            <li class="dropdown">
                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                    @{
                                        var count = 0;
                                        if (ViewBag.Notifications != null)
                                        {
                                            foreach (var noti in ViewBag.Notifications)
                                            {
                                                if (noti.IsRead == false)
                                                {
                                                    count = count + 1;
                                                }
                                            }
                                        }
                                        <span>@count</span>
                                    }
                                </i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                    <div class="nofity-list">
                                        @if (ViewBag.Notifications != null)
                                        {
                                            foreach (var noti in ViewBag.Notifications)
                                            {
                                                var notifyBackground = noti.IsRead == false ? "background-color:#ccc; font-weight:bold" : "";

                                                <a asp-controller="HR" asp-action="UpdateIsRead" asp-route-noti="@noti.NotificationId" class="notify-item">
                                                    <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                                    <div class="notify-text" style="@notifyBackground">
                                                        <p>@noti.Description</p>
                                                        <span>Just Now</span>
                                                    </div>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </li>
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        </ul>
                    </div>
                </div>
            </div>*@
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">General Report</h4>


                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="~/images/author/avatar.png" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@ViewContext.HttpContext.Session.GetString("FullName")<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a asp-controller="Home" asp-action="ChangePassword" class="dropdown-item">Change password</a>
                                <a asp-controller="Home" asp-action="Logout" class="dropdown-item">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- page title area end -->
            <div class="main-content-inner">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary createProject m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Goal Setting
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Set Goal</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form asp-controller="CEO" asp-action="SetGoal" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="DepartmentIds" class="col-form-label">Departments</label>
                                        <select class="form-select" id="multiple-select-field" data-placeholder="Choose departments" name="DepartmentIds" multiple required>
                                            @{
                                                if (ViewBag.Departments != null)
                                                {
                                                    foreach (var dep in ViewBag.Departments)
                                                    {
                                                        <option value="@dep.DepartmentId">@dep.Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="docName" class="col-form-label">Document</label>
                                        <input class="form-control" type="file" id="docName" name="docName" required>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary btnCreate">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End modal-->
                <!-- Example single danger button -->
                <div class="btn-group">
                    <button style="background-color:#815ef6; color:white" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Report by
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="CEO" asp-action="Home" asp-route-option="week">This week</a>
                        <a class="dropdown-item" asp-controller="CEO" asp-action="Home" asp-route-option="month">This month</a>
                        <a class="dropdown-item" asp-controller="CEO" asp-action="Home" asp-route-option="year">This year</a>
                    </div>
                </div>

                
                

                

                <div class="row">
                    <!-- data table start -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @{
                                    if (ViewBag.export != null)
                                    {
                                        <a asp-controller="CEO" asp-action="ExportToExcel" asp-route-option="@ViewBag.export" asp-route-type="project" style=" display: flex; justify-content: end;">
                                            <button style="background-color:#815ef6; color:white;" type="button" class="btn">
                                                Export File Excel
                                            </button>
                                        </a>
                                    }
                                }
                                
                                <h4 class="header-title">List Projects</h4>
                                <table class="table table-hover progress-table text-center">
                                    <thead class="text-uppercase">
                                        <tr>
                                            <th class="text-center" style="width: 10%;">Project ID</th>
                                            <th class="text-center" style="width: 40%; min-width: 130px;">Name</th>
                                            <th class="text-center" style="width: 30%;">Created Date</th>
                                            <th class="text-center" style="width: 20%;">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Projects != null && ViewBag.Projects.Count > 0)
                                        {
                                            @foreach (var project in ViewBag.Projects)
                                            {

                                                <tr>
                                                    <td>@project.ProjectId</td>
                                                    <td>@project.Name</td>
                                                    <td>@project.PlanedStartDate</td>
                                                    @switch (project.Status)
                                                    {
                                                        case "Pending":
                                                            <td><span class="status-p bg-warning">@project.Status</span></td>
                                                            break;
                                                        case "In Progress":
                                                            <td><span class="status-p bg-primary">@project.Status</span></td>
                                                            break;
                                                        case "Complete":
                                                            <td><span class="status-p bg-success">@project.Status</span></td>
                                                            break;
                                                        case "Warning":
                                                            <td><span class="status-p bg-danger">@project.Status</span></td>
                                                            break;
                                                    }
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4">No project available.</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3">Total projects:</td>
                                            <td>@(ViewBag.Projects?.Count ?? 0)</td>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="card-body">
                                @{
                                    if (ViewBag.export != null)
                                    {
                                        <a asp-controller="CEO" asp-action="ExportToExcel" asp-route-option="@ViewBag.export" asp-route-type="mission" style=" display: flex; justify-content: end;">
                                            <button style="background-color:#815ef6; color:white;" type="button" class="btn">
                                                Export File Excel
                                            </button>
                                        </a>
                                    }
                                }
                                <h4 class="header-title">List Missions</h4>
                                <table class="table table-hover progress-table text-center">
                                    <thead class="text-uppercase">
                                        <tr>
                                            <th class="text-center" style="width: 10%;">Mission ID</th>
                                            <th class="text-center" style="width: 40%; min-width: 130px;">Title</th>
                                            <th class="text-center" style="width: 20%;">Created Date</th>
                                            <th class="text-center" style="width: 30%;">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.Missions != null && ViewBag.Missions.Count > 0)
                                        {
                                            @foreach (var mission in ViewBag.Missions)
                                            {

                                                <tr>
                                                    <td>@mission.MissionId</td>
                                                    <td>@mission.Title</td>
                                                    <td>@mission.PlanedStartDate</td>
                                                    @switch (@mission.Status)
                                                    {
                                                        case "To Do":
                                                            <td><span class="status-p bg-secondary">@mission.Status</span></td>
                                                            break;
                                                        case "In Progress":
                                                            <td><span class="status-p bg-primary">@mission.Status</span></td>
                                                            break;
                                                        case "Done":
                                                            <td><span class="status-p bg-success">@mission.Status</span></td>
                                                            break;
                                                    }
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4">No mission available.</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3">Total missions:</td>
                                            <td>@(ViewBag.Missions?.Count ?? 0)</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- data table end -->
                </div>
            </div>
        </div>
        <!-- main content area end -->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="~/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="~/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/scripts.js"></script>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $('#multiple-select-field').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
    </script>
</body>
